.idea
gpxtcx.iml
target/archive-tmp
target/classes
target/generated-sources
target/gpxtcx
target/gpxtcx-1.0-SNAPSHOT.jar
target/gpxtcx.cmd
target/lib
target/MANIFEST.MF
target/maven-archiver
target/maven-status
target/merged.gpx
target/sGPX_20110306124006_mit_HR_saved.gpx
target/surefire
target/test.gpx
target/test.TCX
src/test/testdata/sGPX_20110306124006_mit_HR_saved.gpx
src/test/testdata/merged.gpx
